*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    height: 100vh;
    background-image: url(./img/background.png);
    background-position: center;
    background-size: cover;
}
.contaner{
  margin-left: 100px;
  margin-right: 100px;
}
.logo{
    margin-top: 20px;
    width: 100px;
    
}
.header_text{
    max-width: 350px;
    margin-top: 60px;
}
.h1{
    font-size: 34px;
}
.span{

    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 10px 0px ;
}
.header_button{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
}
.p{
 font-size: 15px;
 line-height: 18px;
 color: #777;
    
}
.header_text button{
    margin-top: 20px;
    margin-bottom: 16px;
}

.line_one{
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}
.line_two{
    width: 80px;
    height:1px;
    background: #f67c92;
    display: inline-block;
}

.line_three{
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line{
    line-height: 8px;
}
.sidenavbar{
    width: 250px;
    height: 100vh;
    position: fixed;
    
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
}
.nav_ul .nav_li{
    list-style: none;
    margin: 50px 20px;
    
}
.nav_ul .nav_li a{
    text-decoration: none;
    color: #fff;
}
.menu_button{
    width: 50px;
    position: fixed;
    right: 65px;
    top :35px;
    z-index: 2;
    cursor: pointer;
}





















